/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background: #f5f5f5;
}

.container{
  padding: 48px 60px 48px 60px;
  background-color: #eee;
}

.container h1{
  font-size: 63px;
}

.container h2{
  font-size: 30px;
}