/**
 * index.scss
 * - Add any styles you want here!
 */

 .pomodoro{
   width: 500px;
   margin: 0 auto;
 }
 .pomodoro .pomodoro__title{
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
 }

 .pomodoro .pomodoro__control{
  display: inline-block;
  width: 248px;
  text-align: center;
 }

 .pomodoro .pomodoro__timer .pomodoro__timer__screen{
  text-align: center;
  padding: 20px 0 20px 0;
 }

 .pomodoro .pomodoro__timer .pomodoro__timer__control{
  text-align: center;
 }

 .btn{
   display: inline-block;
   background: none;
   outline: none;
   border: none;
   cursor: pointer;
 }